<article class="post">

  {{/* Featured image */}}
  {{ with .Params.featured_image }}
    <div class="post-image">
      <a href="{{ $.Permalink }}">
        <img src="{{ . | relURL }}" alt="{{ $.Title }}" style="max-width:200px; width:100%; height:auto; border-radius:8px;">
      </a>
    </div>
  {{ end }}
  {{/* Post title and optional date */}}
  <div class="post-title">
    <a href="{{ .Permalink }}" class="post-link">{{ .Title | markdownify }}</a>

    {{/* Decide to display the date based on tags */}}
    {{ $displayDate := true }}
    {{ $tagsHidePostDate := or .Site.Params.Hidden.TagsPostDate slice }}
    {{ $postTags := or .Params.Tags slice }}

    {{ if gt ($tagsHidePostDate | intersect $postTags | len) 0 }}
      {{ $displayDate = false }}
    {{ end }}

    {{ if eq $displayDate true }}
      <div class="flex-break"></div>
      <span class="post-date">{{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Date}}</span>
    {{ end }}
  </div>

  {{/* Post excerpt */}}
  <p>{{ .Summary }}</p>

</article>