<ul class="posts-list" style="list-style:none; padding:0; margin:0;">
  {{ $section := .Get "section" }}
  {{ range where .Site.RegularPages "Section" $section }}
    <li class="post-item" style="display:flex; align-items:flex-start; gap:12px; margin-bottom:1.5rem;">
      
      {{/* Featured image */}}
      {{ with .Params.featured_image }}
        <div class="post-image">
          <a href="{{ $.Page.RelPermalink }}">
            <img src="{{ . | absURL }}" alt="{{ $.Page.Title }}" style="max-width:200px; width:100%; height:auto; border-radius: 8px; ">
          </a>
        </div>
      {{ end }}

      {{/* Post title + summary */}}
      <div class="post-title">
        <a href="{{ .Permalink }}" class="post-link">{{ .Title | markdownify }}</a>
    </div>
    </li>
  {{ end }}
</ul>
